link(rel='stylesheet', href='/static/login.css')
block content 
    //- | this is contact 
    div.container
        h1 Login
        form(class="myLogin" action="/login-post" method="post") 
            input(type="email" class="myInp" name="useremail" placeholder="useremail")
            input(type="text" class="myInp" name="password" placeholder="password")
            button(class="loginbtn" type='submit')
                | Login
        
        p #[a(href="/registration") new registration]
    script(src='/static/script.js')